@import '#scss/colors';

.container {
  align-items: center;
  background: #fff;
  display: flex;
  height: 12vh;
  justify-content: space-between;
  margin: auto;
  max-width: 1200px;
  position: relative;
  top: 0;
  transition: 0.2s;
  width: calc(100% - 6rem);

  &-open {
    background: $primary;
  }
}

.nav {
  ul {
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 101;

    li {
      color: #b3b3b3;
      float: left;
      font-size: 20px;
      margin-right: 2rem;
      margin-top: 1rem;
      transition: 0.2s;

      &:last-child {
        margin-right: 0;
      }

      div {
        background-color: #b3b3b3;
        border-radius: 5rem;
        height: 3px;
        margin: 4px 0;
        transition: 0.2s;
        width: 24px;
      }
    }
  }

  &-open {
    ul {
      li {
        color: #fff;

        div {
          background-color: #fff;
        }
      }
    }
  }
}

.image {
  position: relative;
  transition: 0.3s;
  z-index: 101;
  cursor: pointer;
}

.button {
  background-color: $primary;
  border: unset;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-top: -1rem;
  padding: 0.5rem 2rem;

  &:hover {
    background-color: darken($primary, 3);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  }

  &-open {
    background-color: #fff;
    color: $primary;

    &:hover {
      background-color: #fff;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.one {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.two {
  opacity: 0;
}

.three {
  transform: rotate(45deg) translate(-6px, -6px);
}

.overlay {
  background-color: $primary;
  height: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.2s;
  width: 100%;
  z-index: 100;

  &-open {
    height: 100%;
    max-height: 100vh;
  }
}

.overlay-content {
  border-bottom: 1px solid #fff;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 1rem;
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
  width: 15rem;

  a {
    cursor: pointer;
  }
}

.overlay a {
  color: #fff;
  display: block;
  font-size: 36px;
  padding: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
