@import '#scss/colors';

.container {
  h2 {
    font-size: 45px;
  }

  h1 {
    border: unset !important;
    color: $primary;
    font-size: 60px;
    margin: auto;
    margin-top: -1rem;
    width: 10rem;
  }
}
